@import "src/theme/base";
@import "src/ui/button/Button.module";

.home {
  background-color: var(--color-background);

  &__property-card {
    &--row {
      > div {
        &:nth-child(n + 2) {
          @include atLargeTablet {
            margin-top: 0;
          }
          margin-top: $space-l;
        }
      }
    }
  }

  &__intro {
    @include withNavbar;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: var(--color-background);

    &--linear-gradient {
      position: absolute;
      bottom: -230px;
      left: -220px;
      width: 100%;
      max-width: 44%;
      min-height: 74%;
      opacity: 0.5;
      filter: blur(100px);

      > div:nth-child(1) {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 70%;
        min-width: 70%;
        min-height: 70%;
        max-height: 70%;
        border-radius: 1000000px;
        background-color: #6923ff;
      }
    }

    &--headline {
      margin-bottom: $space-m;
    }

    &--box,
    &--image {
      padding: $navbar-height 0;
    }

    &--image {
      @include atLargeTablet {
        display: block;
      }
      display: none;
      padding-top: $navbar-height / 2;

      img {
        width: 81%;
        height: auto;
      }
    }

    &--cta {
      @extend .button--outlined;
    }

    &--text-block {
      margin-bottom: $space-ml;
    }
  }

  &__button-box {
    margin-top: $space-ml;
  }

  &__property-card--cta {
    @extend .button-outline;
    display: block;
    width: 100%;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__no-claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: ($navbar-height / 2) 0;

    &--warning {
      min-width: 100px;
    }
  }

  &__metamask {
    width: $navbar-height / 3;
    height: $navbar-height / 3;
    margin: $navbar-height / 6;
  }
}
