body[data-theme="fileagent-dark"] {
  // Status colors
  --color-status-info: #5356fc;
  --color-status-info-light: rgba(83, 86, 252, 0.7);
  --color-status-info-lighter: rgba(83, 86, 252, 0.4);
  --color-status-success: #3dd598;
  --color-status-success-light: #d6fff5;
  --color-status-success-lighter: #e6fff9;
  --color-status-warning: rgb(255, 215, 75);
  --color-status-warning-light: #fffdb8;
  --color-status-warning-lighter: #fffeeb;
  --color-status-critical: #bd2d00;
  --color-status-critical-light: #ffe2e0;
  --color-status-critical-lighter: #fff5f5;
  --color-status-unknown: #f4f6f8;

  //Gray dark
  --color-white: #fffae9;
  --color-black: #161b1c;
  --color-dark-11: #222529;
  --color-dark-10: #2c3035;
  --color-dark-9: #2c3035;
  --color-dark-8: #40404a;
  --color-dark-7: #5b5b65;
  --color-dark-6: #70707c;
  --color-dark-5: #8a8a98;
  --color-dark-4: #a9a9b7;
  --color-dark-3: #d0d0da;
  --color-dark-2: #f5f5ff;
  --color-dark-1: #ffffff;

  // Brand
  --color-primary: #6366f1;
  --color-primary-shade-mid: #818cf8;
  --color-primary-shade-low: #a5b4fc;
  --color-secondary: #ffd74b;
  --color-secondary-shade-mid: #f8d65a;
  --color-secondary-shade-low: #fce078;

  // Background
  --color-background: var(--color-black);
  --color-background-contrast: var(--color-dark-11);

  // Sidebar
  --color-sidebar-item: var(--color-white);
  --color-sidebar-divider: var(--color-dark-8);

  // Navbar
  --color-navbar-logo: var(--color-white);
  --color-navbar-background: var(--color-background);

  // Button
  --color-button-primary: var(--color-primary);
  --color-button-primary-text: var(--color-white);
  --color-button-primary-hover: var(--color-primary);
  --color-button-primary-hover-text: var(--color-white);
  --color-button-secondary: var(--color-dark-8);
  --color-button-secondary-text: var(--color-dark-4);
  --color-button-secondary-hover: var(--color-dark-10);
  --color-button-secondary-hover-text: var(--color-white);

  // Button outlined
  --color-button-outlined-info: #ffd74b;
  --color-button-outlined-info-text: #ffd74b;
  --color-button-outlined-disabled: #5b5b65;
  --color-button-outlined-disabled-text: #8a8a98;

  //Theme Selector
  --color-theme-button-light: #ffffff00;
  --color-theme-button-dark: #ffffff40;
  --color-theme-button-divider: var(--color-background-contrast);

  // Typography
  --color-typography-headline-1: var(--color-white);
  --color-typography-headline-2: var(--color-white);
  --color-typography-headline-3: var(--color-white);
  --color-typography-headline-4: var(--color-white);
  --color-typography-headline-5: var(--color-white);
  --color-typography-headline-6: var(--color-white);
  --color-typography-text: var(--color-white);
  --color-typography-text-bold: var(--color-white);
  --color-typography-subtitle: var(--color-dark-5);
  --color-typography-button-label: var(--color-white);
  --color-typography-mini-button-label: var(--color-white);
  --color-typography-description: #8a8a98;
  --color-typography-mini-description: var(--color-dark-4);
  --color-typography-link: var(--color-primary);

  // Tab
  --color-tab-navigation-border: var(--color-dark-7);
  --color-tab-item-default: var(--color-dark-7);
  --color-tab-item-active: var(--color-white);

  // Market Card
  --color-market-card-background: rgba(22, 27, 28, 0.4);
  --color-market-card-background-contrast: var(--color-background);
  --color-market-card-title: #fff;
  --color-market-card-stat: #b1b1b1;

  // Market Fees Card
  --color-market-fees-card-background: #ffd74b;
  --color-market-fees-card-text: #fff;

  // Horizontal Line
  --color-horizontal-line-background: #3c3c3c;

  // Data Visualization colors
  --color-value-increase: #00d3a1;
  --color-value-increase-bright: #00bb8e;
  --color-value-decrease: #ff7c35;
  --color-value-decrease-bright: #e76823;

  // Forms
  --color-input-text: var(--color-typography-text);
  --color-input-text-disabled: var(--color-typography-description);
  --color-input-border: var(--color-black);
  --color-input-label: rgba(255, 255, 255, 0.7);
  --color-input-placeholder: rgba(255, 255, 255, 0.22);

  // Dropzone
  --color-dropzone-border: #3c3c3c;
  --color-dropzone-border-hover: var(--color-input-label);

  // Chat Sidebar
  --color-chat-sidebar-background: var(--color-background-contrast);
  --color-chat-sidebar-background-hover: var(--color-background);

  // Table
  --color-table-background: var(--color-dark-2);
}
