@import "src/theme/base";

.balance-pill {
  position: relative;
  margin-top: $space-m;

  &__wrapper {
    display: block;

    &--amount {
      font-weight: bold;
      color: var(--color-typography-text);
    }
  }
}
