@import "src/theme/base";
@import "src/theme/forms/variables";
@import "src/ui/fileagent/navbar/variables";

@mixin width {
  @include atLargeTablet {
    max-width: 50vw;
  }
}

.dropbox-chat {
  position: relative;
  display: block;
  height: 100vh;
  padding-top: $navbar-height * 1.5;
  padding-left: $navbar-height * 1.5;
  background-color: var(--color-background);

  &__textarea {
    @include atLargeTablet {
      padding-top: 0;
      padding-left: $navbar-height * 1.5;
    }
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--color-horizontal-line-background);
    padding-top: 0;
    background-color: var(--color-background);

    > div {
      @extend .z-depth-1;
      padding: $space-default;
      padding-bottom: $space-l;
      padding-left: $navbar-height;
      background-color: white;
    }

    &--actions {
      @include width;
      display: flex;
      justify-content: flex-end;
      padding: $space-s;

      button {
        margin-left: $space-default;
      }
    }

    &--card {
      @include width;
      background-color: var(--color-background);
    }

    &--card-content {
      display: flex;
    }

    &--card-actions {
      @include atLargeTablet {
        flex-direction: row;
      }
      flex-direction: column;
      padding-top: 0;

      &-button {
        @include atLargeTablet {
          margin-left: $space-default;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
      }
    }

    &--card-field {
      min-height: 63px;
      padding: $space-default !important;
      font-size: $input-font-size !important;
      background-color: var(--color-input-background);
      transition: height 0.2s ease-in-out;
    }
  }

  &__messages {
    @include atLargeTablet {
      padding-bottom: 270px;
    }

    @extend .z-depth-1;
    position: relative;
    height: calc(100vh - $navbar-height * 1.5);
    border-top-left-radius: $border-radius-card;
    padding-top: $navbar-height;
    padding-bottom: 280px;
    overflow-y: scroll;
    background-color: white;

    &--item {
      border-bottom: 1px solid var(--color-horizontal-line-background);
      padding-left: $navbar-height;

      > div {
        @include width;
        padding-top: $space-m;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
