@import "src/theme/base";

.card {
  border-radius: $border-radius;
  background-color: var(--color-background);

  &__shadow {
    @extend .z-depth-1;
  }

  &__content {
    padding: $space-default;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-background-contrast);
    padding: $space-default;

    > button,
    > p {
      align-self: center;

      &:nth-child(n + 2) {
        margin-left: $space-default;
      }
    }
  }

  &__background-image {
    height: 150px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__link {
    cursor: pointer;
  }
}
