@import "src/theme/base";

.card {
  border-radius: $border-radius-card;
  background-color: var(--color-background-contrast);

  &__shadow {
    @extend .z-depth-1;
  }

  &__spotlight {
    position: relative;
    border: 1px solid #374151;
    border-radius: 0.875rem;
    overflow: hidden;
    background-image: linear-gradient(to right, var(--color-background-contrast), var(--color-background));
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    &--child {
      pointer-events: none;
      position: absolute;
      inset: -1px;
      opacity: 0;
      transition: opacity 300ms;
    }
  }

  &__content {
    padding: 1.3rem $space-default;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-background-contrast);
    padding: $space-default;

    > button,
    > p {
      align-self: center;

      &:nth-child(n + 2) {
        margin-left: $space-default;
      }
    }
  }

  &__background-image {
    height: 150px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__link {
    cursor: pointer;
  }
}
