@import "src/theme/base";
@import "src/theme/forms/variables";

.prompt-wars {
  display: block;

  &__title-row {
    @include atLargeTablet {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: $space-ml;

    &--description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: $space-default;
      border: 1px solid white;
      border-radius: $border-radius-card;
      padding: $space-default;
    }
  }

  &__game-row {
    @include atLargeTablet {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: $space-ml;
  }

  &__prompt-card {
    &--title {
      margin-bottom: $space-default;
    }

    &--input {
      min-height: 180px;
      padding: $space-default !important;
      font-size: $input-font-size !important;
      background-color: var(--color-market-card-background);
    }
  }
}
