@import "src/theme/base";

.prompt-wars {
  display: block;

  &__title-row {
    @include atLargeTablet {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: $space-ml;

    &--description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: $space-default;
      border: 1px solid white;
      border-radius: $border-radius-card;
      padding: $space-default;
    }
  }

  &__game-row {
    margin-bottom: $space-ml;
  }
}
