@import "src/theme/base";

.prompt-wars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__logo {
    @include atLargeTablet {
      display: block;
    }
    display: none;
  }

  &__title-row {
    @include atLargeTablet {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: $space-ml;

    &--description {
      @include atLargeTablet {
        max-width: 280px;
        margin-top: 0;
        margin-left: $space-default;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: $space-default;
    }
  }

  &__game-row {
    margin-bottom: $space-ml;

    &--col-left {
      margin-bottom: $space-ml;
    }
  }
}
