@import "src/theme/base";

.main-panel {
  @include atLargeTablet {
    min-height: 100vh;
    overflow-y: auto;
  }
  position: relative;
  width: 100%;
  background-color: var(--color-background);

  &--with-navbar {
    @include withNavbar;
  }

  &__container {
    @include withNavbar(5);
    @include atLargeTablet {
      padding-right: $space-xl;
      padding-left: $space-xl;
    }
    max-width: 1540px;
    margin-right: auto;
    margin-left: auto;

    &--paddingX {
      @include atLargeTablet {
        padding-right: $space-xl;
        padding-left: $space-xl;
      }
      padding-right: $space-default;
      padding-left: $space-default;
    }
  }
}
