@import "./utilities/functions/deep-map-check";
@import "./utilities/functions/deep-map-get";
@import "./utilities/functions/get";
@import "./utilities/functions/rem";
@import "./utilities/functions/str-explode.scss";
@import "./utilities/font-properties";
@import "_variables";

@mixin atMobile {
  @media (min-width: $mq-small) {
    @content;
  }
}
@mixin atTablet {
  @media (min-width: $mq-medium) {
    @content;
  }
}
@mixin atLargeTablet {
  @media (min-width: $mq-large) {
    @content;
  }
}
@mixin atDesktop {
  @media (min-width: $mq-large-plus) {
    @content;
  }
}
@mixin atLargeDesktop {
  @media (min-width: $mq-x-large) {
    @content;
  }
}
@mixin atXLargeDesktop {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin atXXLargeDesktop {
  @media (min-width: $max-container-width) {
    @content;
  }
}
@mixin withSidebar {
  display: flex;
}
@mixin withNavbar($divisor: 1) {
  @include atLargeTablet {
    padding-top: $navbar-height / $divisor;
  }
  padding-top: $navbar-height-mobile / $divisor;
}
@mixin noSelect {
  user-select: none;
}
@mixin boxShadowInset {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
}
