@import "src/theme/base";

.wallet-selector {
  position: relative;
  display: flex;
  align-items: center;
  height: $navbar-height;

  &__icon {
    &--connected {
      color: var(--color-typography-text);
    }
  }

  &__icon-connected {
    &--wrapper {
      @extend .z-depth-1;

      @include atLargeTablet {
        width: 18px;
        height: 18px;
        margin-top: -2px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-top: -2px;
      border-radius: 50%;
      background-color: var(--color-black);
    }

    &--icon {
      margin-right: -2px;
      font-weight: bold;
      color: var(--color-white);
    }
  }

  &__widget {
    @include atLargeTablet {
      top: $navbar-height + 2;
      width: 420px;
    }
    position: absolute;
    top: $navbar-height-mobile + 2;
    right: 0;
    z-index: $z-index-navigation;
    width: calc(100vw - 32px);
    border: 2px solid var(--color-background-contrast);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: var(--color-background);

    &--backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $z-index-navigation - 1;
      background-color: transparent;
      cursor: default;
    }
  }

  &__chain-network-dropdowns {
    position: relative;
    display: flex;

    button {
      border-top: 0;
      border-radius: 0;

      &:nth-child(1) {
        border-right-width: 1px;
        border-left: 0;
      }

      &:nth-child(2) {
        border-right: 0;
        border-left-width: 1px;
      }
    }

    &--chains-list,
    &--networks-list {
      position: absolute;
      top: 44px;
      right: 0;
      left: 0;
      z-index: $z-index-navigation;
      width: 100%;
      height: #{82 + 62}px;
      padding: $space-s;
      overflow-y: auto;
      background-color: var(--color-background-contrast);
    }

    &--chains-list-card,
    &--networks-list-card {
      margin-bottom: $space-s;
    }
  }

  &__balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-m;
    background-color: var(--color-background-contrast);
    cursor: default;
  }

  &__connect {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: $space-m;
    cursor: default;
  }

  &__button--disable-hover {
    &:hover {
      cursor: default;
    }
  }
}
