@import "src/theme/base";

.locale-selector {
  &__fixed {
    @extend .z-depth-1;

    @include atLargeTablet {
      top: $navbar-height * 1.4;
    }
    position: fixed;
    top: $navbar-height-mobile * 1.65;
    right: 0;
    z-index: $z-index-content;
    display: block;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding: $space-xs $space-s;
    background-color: var(--color-white);
  }

  a {
    text-decoration: none;
    color: var(--color-typography-text);

    &:hover {
      text-decoration: none;
    }
  }
}
