@mixin avatar {
  &__avatar {
    padding: $space-default;
    color: var(--color-primary);

    &-box {
      @extend .z-depth-3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: var(--color-background);

      svg {
        stroke: var(--color-primary);
      }

      span {
        font-size: 21px;
        font-weight: 400;
      }
    }
  }
}
@mixin content {
  &__content {
    padding: $space-default;

    p {
      white-space: pre-line;
    }
  }
}
